.container1 {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:1%
}

.container1 .roww {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.squars {
    color : black;
    font-size: larger;
    background-color: black;
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    font-weight: bolder;
    transition: all .5s ease;
}

.squars .squarshigh{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: smaller;
    width: 100%;
}

.menu {
    border : 1px solid black;
    margin : 1% 3% 1% 3% ;
    padding : 1%;
}

.nodecoration{
    text-decoration: none;
}

p{
    margin-bottom: 0 !important;
}


.disableselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}